.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.363);
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 70%;
  color: rgb(0, 0, 0);
  background-color: bisque;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  width: 100%;
}
